/*GLOBAL STYLES*/

html {
	font-size: 1em;
	background-color: #f5f5f5;
}

.site-id {

	font-family: futura-pt, sans-serif;
	font-weight: 200;
	font-style: normal;

}

p {
	font-family: Chivo, sans-serif;

}






/*LAYOUT*/

.wrapper {
	width: 800px;
	margin: 0 auto;
}



button {


	background-color: yellow;
	border-radius: 25px;
	color: black;
	font-family: Chivo, sans-serif;
	font-size: 1.2em;
	padding: 10px 20px;
	position: relative;
	

}


.card {
	position: relative;
	background-color: black;
	border-radius: 20px;
	color: white;
	padding-bottom: 75px;
	width: 100%;
}
.hero-home{

	font-family: futura-pt;
	position:absolute;
	top: 70px;
	left: 300px;
	z-index:2;
}


/*SPECIAL LAYOUTS*/

.card p {
	background-color: black;
	margin: 20px;
	border-radius: 20px;
	color: white;

}

#card1,
#card2,
#card3{
	width: 600px;
}

#card1,
#card3{
	margin-left: 200px;
}


.right-button {
	background-color: black;
	color: yellow;
	font-family: Chivo, sans-serif;
	font-size: 1.2em;
	padding: 10px 20px;
	border-radius: 25px;
	border: 2px solid yellow;
	position: absolute;
	bottom: 10px;
	/* Adjust this value to position the button */
	right: 20px;
	/* Adjust this value to position the button */
}

.right-button:hover {
	background-color: yellow;
	font-family: Chivo, sans-serif;
	color: black;
	border: 2px solid yellow;
}


/*p5.js*/
#p5-canvas-example{
	margin: 0 0 0 175px;
	padding: 0;
	display: inline-block;
	border: 2px solid white;
}

#javascript-example{
	margin: 0 0 0 175px;
	padding: 0;
	display: inline-block;
	border: 2px solid white;
}

#java-2{
	margin: 0 0 0 175px;
	padding: 0;
	display: inline-block;
	border: 2px solid white;
}

canvas {
	display: block;
  }

.hero-frame{
	border-style: none;
	height: 400px;
	width: 100%;
	display: inline;
	padding: 0;
	margin:0;
}

/*LINKS AND NAV*/

#banner .site-id {
	margin-top: 10px;
	margin-left: 50px;
	padding: 0;
	float: left;
	font-family: futura-pt, sans-serif;
	font-weight: 200;
	color: yellow;

}


#menu {

	padding: 20px 0;
	background-color: black;
	border-radius: 25px;

}

#menu ul {


	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;




}

#menu li {
	display: inline-block;
	margin: 0 10px;
	padding: 0;
	text-decoration: none;



}

#menu a {
	text-decoration: none;
	color: white;
	margin: 10px;
	padding: 0;


}

#menu a:hover,
#menu .current a {
	color: yellow;

}

#menu a:active {
	color: blue;
}





/*FOOTER*/

#colophon {
	display: flex;
	justify-content: center;
	align-items: center;
  }


.col-3{
	color:white;
	background-color: black;
	border-radius: 40px 40px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
}


#colophon ul {
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;

}

#colophon li {
	margin: 0 10px;
	padding: 0;
	display: inline-block;

}
.social p {
	bottom:20px;
}

.social {
	margin-bottom: 30px;
}

.social li {
	margin: 0 10px;
}



/*END OF FOOTER*/



/*FONTS AND TYPEOGRAPHY*/

.card-header {
	padding-top: 20px;
	margin-left: 20px;
	
	font-family: futura-pt, sans-serif;
	font-weight: 300px;
	font-size: 2.5em;
}

li {
	font-family: Chivo, sans-serif;
	font-weight: 200;
	color: black;
}





/*IMAGES*/

/*UTILITES*/